<div id="regularSeasonDashboard" class="row">
  <!-- Team Information -->
  <div class="col-3">
    <div class="card">
      <h5 class="card-header">Team Overview</h5>
      <div class="card-body">
        <h5 class="card-title" data-bind="text: $root.team().city"></h5>
        <p class="card-text" data-bind="text: 'Record: ' + $root.team().wins + ' - ' + $root.team().losses"></p>
        <div class="row">
          <div class="col-7">Offense</div>
          <div class="col-5">
            <div class="inner" style="color:Gray" data-bind="foreach: new Array(5)">
              <i class="fas fa-circle xxs"></i>
            </div>
            <div class="inner" style="color:Blue" data-bind="foreach: new Array($root.team().offense)">
              <i class="fas fa-circle xxs"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">Defense</div>
          <div class="col-5">
            <div class="inner" style="color:Gray" data-bind="foreach: new Array(5)">
              <i class="fas fa-circle xxs"></i>
            </div>
            <div class="inner" style="color:Blue" data-bind="foreach: new Array($root.team().defense)">
              <i class="fas fa-circle xxs"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">Special Teams</div>
          <div class="col-5">
            <div class="inner" style="color:Gray" data-bind="foreach: new Array(5)">
              <i class="fas fa-circle xxs"></i>
            </div>
            <div class="inner" style="color:Blue" data-bind="foreach: new Array($root.team().special_teams)">
              <i class="fas fa-circle xxs"></i>
            </div>
          </div>
        </div>
      </div>
      <!--<ul class="list-group list-group-flush">
        <li class="list-group-item" data-bind="text: 'Offense: ' + $root.team().offense"></li>
        <li class="list-group-item" data-bind="text: 'Defense: ' + $root.team().defense"></li>
        <li class="list-group-item" data-bind="text: 'Special Teams: ' + $root.team().special_teams"></li>
      </ul>-->
    </div>
  </div>
  <!-- Next Game Template -->
  <div class="col-4"> 
    <div class="card">
      <h5 class="card-header">Next Game</h5>
      <div class="card-body">
        <div data-bind="foreach: $root.nextGame()">
          <div class="row">
            <div class="card-text col-5 text-center" data-bind="text: $data.away.city"></div>
            <div class="col-2 text-center">at</div>
            <div class="col-5 text-center" data-bind="text: $data.home.city"></div>
          </div>
          <div class="row">
            <div class="col-5 text-center" data-bind="text: $data.away.wins + ' - ' + $data.away.losses"></div>
            <div class="col-2"></div>
            <div class="col-5 text-center" data-bind="text: $data.home.wins + ' - ' + $data.home.losses"></div>
          </div>
        </div>
        <p class="card-text" data-bind="visible: $root.byeWeek">Bye Week</p>
        <div class="row">
          <div class="col-6 offset-3">
          <a href="#" class="btn btn-primary btn-block" data-bind="visible: $root.showPlayWeek,
                                                                   click: $root.playNextWeek">
            Play Week
          </a>
          <a href="#" class="btn btn-primary btn-block" data-bind="visible: $root.startPlayoffs,
                                                                   click: gameState.advance">
            Start Playoffs
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Last Week -->
  <div class="col-4"> 
    <div class="card">
      <h5 class="card-header">Last Week</h5>
      <div class="card-body">
      <!-- bye week -->
        <p class="card-text" data-bind="visible: $root.wasByeWeek">Bye Week</p>
        <div data-bind="foreach: $root.lastGame()">
        <div class="row">
          <div class="col-5 text-center" data-bind="text: $data.game.away.city + ': ' + $data.result.away_score"></div>
          <div class="col-2 text-center">at</div>
          <div class="col-5 text-center" data-bind="text: $data.game.home.city + ': ' + $data.result.home_score"></div>
        </div>
        <div class="row">
          <div class="col-5 text-center" data-bind="text: $data.game.away.wins + ' - ' + $data.game.away.losses"></div>
          <div class="col-2 text-center"></div>
          <div class="col-5 text-center" data-bind="text: $data.game.home.wins + ' - ' + $data.game.home.losses"></div>
        </div>
    </div>
  </div>
</div>
