<div id="fullSchedule">
  <div class="row justify-content-center">
    <div class="col-2">Team Schedule</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-7">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Week</th>
            <th scope="col">Away</th>
            <th scope="col">Home</th>
            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: {data: schedule, as: 'week'}">
          <tr> 
            <td data-bind="text: week"></td>
            <td data-bind="text: game.away"></td>
            <td data-bind="text: game.home"></td>
            <td data-bind="text: result"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div data-bind="if: weeksLeft() > 0" class="row justify-content-center">
    <div class="col-3">
      <button type="button"
              class="btn btn-secondary btn-lg btn-block main-action"
              data-bind="click: playEntireSeason">Play Entire Season</button>
    </div>
  </div>
  <div data-bind="if: weeksLeft() == 0" class="row justify-content-center">
    <div class="col-3">
      <button type="button" 
              class="btn btn-secondary btn-lg btn-block main-action"
              data-bind="click: gameState.advance">
        Start Playoffs
      </button>
    </div>
  </div>
</div>
